@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark,
.dark *));

/* Tailwind Config */
@layer base {
  :root {

    --white: #ffffff;
    --black: #171717;
    --pink: #F184D5;
    --blue: #66C7F1;
    --purple: #ACA6E3;
    --bright-purple: #A41EF1;

    --color-background: var(--white);
    --color-foreground: var(--black);

    --navitem-active: var(--bright-purple);

    --button-bg: var(--bright-purple);
    --button-shadow: var(--purple);
    --button-text: var(--white);
  }
  .dark {
    --color-background: var(--black);
    --color-foreground: var(--white);

    --navitem-active: var(--pink);

    --button-bg: var(--pink);
    --button-shadow: var(--blue);
    --button-text: var(--black);
  }
}

@theme inline {
  --color-purple: var(--purple);
  --color-blue: var(--blue);
  --color-pink: var(--pink);
  --color-bright-purple: var(--bright-purple);
}

@media print {
  .dark {
      --white: #ffffff;
      --black: #171717;
      --pink: #F184D5;
      --blue: #66C7F1;
      --purple: #ACA6E3;
      --bright-purple: #A41EF1;
  
      --color-background: var(--white);
      --color-foreground: var(--black);
  
      --navitem-active: var(--bright-purple);
  
      --button-bg: var(--bright-purple);
      --button-shadow: var(--purple);
      --button-text: var(--white);
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}

/* Slider (not in use) */
/* .slider {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.slider .slide {
  grid-row-start: 1;
  grid-column-start: 1;
  opacity: 0;
  transition: all ease-in-out 400ms;
  background: var(--background);
  height: max-content;
  max-height: 0;
}

.slider .slide.active {
  opacity: 1;
  max-height: 1000px;
} */

/* Nav items */
.nav-item {
  text-underline-offset: .5ch;
  color: var(--color-foreground);
  text-decoration-color: var(--blue);
}

.nav-item.active {
  @apply font-bold underline;
  color: var(--navitem-active);
}

/* Focus state */
:focus-visible {
  outline: var(--bright-purple) auto 1px;
}

/* Quill Editor */

.ql-editor {
  @apply !prose;
}

.dark .ql-editor {
  @apply !prose-invert;
}

.ql-editor > *:first-child {
  margin-top: 0 !important;
}

.dark .ql-toolbar .ql-fill {
  fill: var(--white);
}
.dark .ql-toolbar .ql-stroke {
  stroke: var(--white);
}

.dark .ql-toolbar button:hover .ql-fill {
  fill: var(--blue) !important;
}
.dark .ql-toolbar button:hover .ql-stroke {
  stroke: var(--blue) !important;
}

.ql-toolbar button:hover .ql-fill {
  fill: var(--bright-purple) !important;
}
.ql-toolbar button:hover .ql-stroke {
  stroke: var(--bright-purple) !important;
}

