@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --white: #ffffff;
  --black: #171717;
  --pink: #F184D5;
  --blue: #66C7F1;
  --purple: #ACA6E3;
  --bright-purple: #A41EF1;
  --nav-item-active: var(--pink);
}

@layer base {
  :root {
    --color-background: var(--white);
    --color-foreground: var(--black);

    --white: #ffffff;
    --black: #171717;
    --pink: #F184D5;
    --blue: #66C7F1;
    --purple: #ACA6E3;
    --bright-purple: #A41EF1;
  }
  .dark {
    --color-background: var(--bright-purple);
    --color-foreground: var(--white);
  }
}

@theme inline {
  --color-purple: var(--purple);
  --color-blue: var(--blue);
  --color-pink: var(--pink);
  --color-bright-purple: var(--bright-purple);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: var(--bright-purple);
    --foreground: #ffffff;
    --color-background: var(--bright-purple);
    --color-foreground: #ffffff;
    --nav-item-active: var(--blue);
  }
} */

body {
  background: var(--color-background);
  color: var(--color-foreground);
}

.work-slider {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.work-slider .slide {
  grid-row-start: 1;
  grid-column-start: 1;
  opacity: 0;
  transition: all ease-in-out 200ms;
  background: var(--background);
  height: max-content;
}

.work-slider .slide.active {
  opacity: 1;
}

.button {
  @apply p-2 relative text-white text-shadow-black cursor-pointer;
}

.button:before,
.button:after {
  content: '';
  @apply block w-full h-full absolute top-0 left-0;
  transition: all ease-in-out 200ms;
}


.button:before {
  background-color: var(--blue);
 z-index: -1;
}

.button:after {
  background-color: var(--pink);
  @apply top-1 left-1;
  z-index: -2;
}

.dark .button {
  @apply text-white;
}

.button:hover:after {
  @apply top-1.5 left-1.5;
}

.button:active:after {
  @apply top-2 left-2;
}

.nav-menu {
}

.nav-item {
  text-underline-offset: .5ch;
  color: var(--color-foreground);
}

.nav-item.active {
  color: var(--nav-item-active);
  @apply font-bold;
}

