@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark,.dark *));

/* Tailwind Config */
@layer base {
  :root {

    /* Colors */

    --white: #ffffff;
    --black: #171717;
    --pink: #F184D5;
    --blue: #66C7F1;
    --purple: #ACA6E3;
    --bright-purple: #A41EF1;

    --color-background: var(--white);
    --color-foreground: var(--black);

    /* UI */
    --navitem-active: var(--bright-purple);

    --button-bg: var(--bright-purple);
    --button-shadow: var(--purple);
    --button-text: var(--white);
  }
  .dark {
    --color-background: var(--black);
    --color-foreground: var(--white);

    --navitem-active: var(--pink);

    --button-bg: var(--pink);
    --button-shadow: var(--blue);
    --button-text: var(--black);
  }
}

@theme inline {
  --color-purple: var(--purple);
  --color-blue: var(--blue);
  --color-pink: var(--pink);
  --color-bright-purple: var(--bright-purple);
}

@media print {
  .dark {
      --white: #ffffff;
      --black: #171717;
      --pink: #F184D5;
      --blue: #66C7F1;
      --purple: #ACA6E3;
      --bright-purple: #A41EF1;
  
      --color-background: var(--white);
      --color-foreground: var(--black);
  
      --navitem-active: var(--bright-purple);
  
      --button-bg: var(--bright-purple);
      --button-shadow: var(--purple);
      --button-text: var(--white);
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}

.bg-background {
  background: var(--color-background);
}

.text-foreground {
  background: var(--color-foreground);
}

/* Focus state */
:focus-visible {
  outline: var(--bright-purple) auto 1px;
}

/* Quill Editor */
.ql-editor {
  @apply !prose;
}

.ql-container.ql-snow {
  border-color: var(--purple) !important;
}

.ql-editor > *:first-child {
  margin-top: 0 !important;
}

.ql-toolbar {
  position: sticky;
  top: 0;
  z-index: 999;
  background: var(--color-background);
  border-color: var(--purple) !important;
}

.ql-toolbar button:hover .ql-fill {
  fill: var(--blue) !important;
}

.ql-toolbar button:hover .ql-stroke {
  stroke: var(--blue) !important;
}

.dark .ql-editor {
  @apply !prose-invert;
}

.dark .ql-toolbar .ql-fill {
  fill: var(--white);
}

.dark .ql-toolbar .ql-stroke {
  stroke: var(--white);
}

.dark .ql-toolbar button:hover .ql-fill {
  fill: var(--blue) !important;
}

.dark .ql-toolbar button:hover .ql-stroke {
  stroke: var(--blue) !important;
}

.ql-toolbar button.ql-active .ql-fill {
  fill: var(--navitem-active) !important;
}
.ql-toolbar button.ql-active .ql-stroke {
  stroke: var(--navitem-active) !important;
}

.blockquote {
  position: relative;
  margin: 0 1rem;
  padding: 1rem 2rem;
}

.blockquote p:before,
.blockquote p:after {
  position: absolute;
  display: flex;
  align-items: end;
  color: var(--purple);
  font-size: 4rem;
  line-height: 0;
  height: 1.75rem;
}

.blockquote p:before {
  content: '“';
  top: 0;
  left: .125rem;
}
.blockquote p:after {
  content: '”';
  bottom: .75rem;
  right: .125rem;
}
.blockquote cite {
  position: relative;
}
.blockquote cite:before {
  content: "–";
  margin-right: .5ch;
}

/* Toasts */
.Toastify__toast {
  @apply bg-pink dark:bg-bright-purple text-white rounded-none relative z-10;
  padding: 8px 14px 14px 14px;
}
.Toastify__toast:after {
  content: '';
  @apply bg-blue w-full h-full absolute -top-1 -left-1 -z-10;
}
.Toastify__toast-icon {
  width: auto;
  @apply rounded-full bg-white p-2;
}
.Toastify__progress-bar--wrp {
  height: 4px;
}
.Toastify__toast-theme--colored.Toastify__toast--default {
  @apply text-white bg-pink;
}
.Toastify__toast-theme--colored.Toastify__toast--info,
.Toastify__toast-theme--colored.Toastify__toast--success,
.Toastify__toast-theme--colored.Toastify__toast--warning,
.Toastify__toast-theme--colored.Toastify__toast--error {
  @apply text-white;
}
.Toastify__close-button {
  right: 14px;
}